<h1>Listing users</h1>



<script>
  function changeColors() {
  var e = document.getElementsByTagName("tr");
  for (var i=0; i < e.length; i+=3) {
    e[i].style.color = "red";
  }
  for (var i=1; i < e.length; i+=3) {
    e[i].style.color = "orange";
  }
  for (var i=2; i < e.length; i+=3) {
    e[i].style.color = "blue";
  }
}
</script>

<h3 id="title" onclick="changeColors();"><b><u>Make this page colorful.</u></b></h3>

<table border="1">
  <tr>
    <th>Name</th>
    
    <th>Date of birth</th>
    <th>Hobby</th>
    <th>Occupation</th>
    <th>Minds posted</th>
    <th>Following No.</th>
    <th>Followed No.</th>
    <% if session[:user_id] %>
       <th>Follow status</th>
    <% end %>
    
    
    <th></th>
    <% if session[:admin_id] %>
    <th></th>
    <% end %>
    
  </tr>
  
  
  

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    
    <td><%= user.date_of_birth %></td>
    <td><%= user.hobby %></td>
    <td><%= user.occupation %></td>
    <td><%= user.contents.count %></td>
    <td><%= user.followeds.count %></td>
    <td><%= user.followings.count %></td>
    
    
    <% if session[:user_id] %>
         <% status=false %>
         <% User.find(session[:user_id]).followeds.each do |followed_person| %>
         <% if followed_person==user %>
         <%    status=true %>
         <% end %>
         <% end %>
         <% if status  %>
         <td> YES </td>
         <% else %>
         <td> NO </td>
         <% end %>
   
    <% end %>
    
    
    
    
    <td><%= link_to 'Show the detail', user %></td>
    
    <% if session[:admin_id] %>
    <td><%= link_to 'Destroy this user', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<%=paginate @users %>

