<h1>Listing categories</h1>

<table border="1">
  <tr>
    <th>Word</th>
    
    <th>Mind No.</th>
    <th></th>
    
    
    <% if session[:admin_id] %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.word %></td>
    <td><%= category.contents.count %></td>
    <td><%= link_to 'Show', category %></td>
    
    
    <% if session[:admin_id] %>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure? This will delete all the minds in this category.' } %></td>
    
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if session[:admin_id] %>
 <td><%= link_to 'Add a New Category', new_category_path %></td>


<% end %>